table {
    font-family: Poppins, sans-serif;
  }
  
mat-header-cell {
    display: flex;
    justify-content:flex-end;
    
   }
th.mat-header-cell{
    background-color: #26c6da;
    color: #ffffff;
    font-family: Poppins, sans-serif;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.columnpie {
    float: left;
    width: 33%;
    background-color: #ffffff;
}

